* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #9F84BD;
  color: #EDE3E9;
}

/* Navbar */
.navbar {
  text-align: center;
  padding: 20px 0;
}

.navbar h2 {
  color: #EBC3DB;
  font-size: 28px;
}

/* Container */
.dashboard-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

/* Title */
.title {
  text-align: center;
  font-size: 64px;
  color: #EDE3E9;
  margin-bottom: 30px;
}

/* Search */
.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.search-box input {
  background: #C09BD8;
  border: 1px solid #EBC3DB;
  color: #2d1f3d;
  padding: 12px;
  border-radius: 10px;
  width: 250px;
}

.search-box input::placeholder {
  color: #5a3d6e;
}

/* Card */
.table-card {
  background: #C09BD8;
  border: 1px solid #9F84BD;
  border-radius: 20px;
  padding: 20px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  color: #5a3d6e;
  border-bottom: 1px solid #9F84BD;
  padding: 12px;
  text-align: left;
}

td {
  color: #2d1f3d;
  border-bottom: 1px solid #9F84BD;
  padding: 12px;
}

/* Hover */
tr:hover {
  background: #E6E4CE;
}
.favorite-button {
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #5a3d6e;
}